@function rnd-rot($turns) {
  @return random($turns * 20) / 10 - $turns;
}

$letters:
  0 0 0,
  1 0 0,
  2 0 0,
  3 0 0,
  4 0 0,
  5 0 0,
  6 0 0;

@each $i, $transl-x, $transl-y in $letters {

  .letter-#{$i} {
    animation: 2s letter-#{$i}-appear;
  }

  @keyframes letter-#{$i}-appear {
    from {
      opacity: 0;
      transform:
        translate3d($transl-x, $transl-y, 500px)
        rotateX(rnd-rot(1) * 360deg)
        rotateY(rnd-rot(1) * 360deg)
        rotateZ(rnd-rot(1) * 360deg);
    }

    to {
      opacity: 1;
      transform:
        translate3d(0vw, 0vh, 0)
        rotateX(0deg)
        rotateY(0deg)
        rotateZ(0deg);
    }
  }
}
