@use 'sass:math';

$letters: 7;

@function rnd-range($abs) {
  @return math.div(random($abs * 20), 10) - $abs;
}

@for $i from 0 to $letters {

  .letter-#{$i} {
    animation: 2s letter-#{$i}-appear;
  }

  @keyframes letter-#{$i}-appear {
    from {
      opacity: 0;
      transform:
        translate3d(rnd-range(30) * 1vw, rnd-range(30) * 1vh, 500px)
        rotateX(rnd-range(2) * 360deg)
        rotateY(rnd-range(2) * 360deg)
        rotateZ(rnd-range(2) * 360deg);
    }

    95% {
      opacity: 1;
    }

    to {
      transform:
        translate3d(0vw, 0vh, 0)
        rotateX(0deg)
        rotateY(0deg)
        rotateZ(0deg);
    }
  }
}
