@import "./variables.scss";

$letters: 7;
$letters-color-initial: #79c248;
$letters-color-dark: #0c1606;

.main-title {
  color: $letters-color-initial;
  animation: linear alternate forwards $sunset-duration $sunset-delay dark-anim;
}

@keyframes dark-anim {
  0% {
    color: $letters-color-initial;
  }

  100% {
    color: $letters-color-dark;
  }
}

@for $i from 0 to $letters {

  .letter-#{$i} {
    animation: $letter-anim-duration letter-#{$i}-appear;
  }

  @keyframes letter-#{$i}-appear {
    from {
      opacity: 0;
      transform:
        translate3d(rnd-range(30) * 1vw, rnd-range(30) * 1vh, 500px)
        rotateX(rnd-range(2) * 360deg)
        rotateY(rnd-range(2) * 360deg)
        rotateZ(rnd-range(2) * 360deg);
    }

    95% {
      opacity: 1;
    }

    to {
      transform:
        translate3d(0vw, 0vh, 0)
        rotateX(0deg)
        rotateY(0deg)
        rotateZ(0deg);
    }
  }
}
